<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!--Android 9 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- These permissions are needed for using WifiManager and stuff-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--NEED THIS FOR NOT EMPTY List<> -->
    <!-- https://developer.android.com/reference/android/net/wifi/WifiManager.html#getScanResults() -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Read/Write External Storage is needed for access the photo gallery-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:largeHeap="true"
        android:hardwareAccelerated="true">

        <!-- The top two lines are needed to scale all images -->

        <activity
            android:name="ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ui.TrainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="ui.TrainActivity" />
            </intent-filter>
        </activity>

        <activity android:name="ui.LocalizeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="ui.LocalizeActivity" />
            </intent-filter>
        </activity>

        <activity
            android:name="ui.AddMapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="ui.AddMapActivity" />
            </intent-filter>
        </activity>
    </application>

</manifest>